@font-face {
  font-family: 'dps-icon';
  src:  url('../fonts/dps-icon.eot?10j1xy');
  src:  url('../fonts/dps-icon.eot?10j1xy#iefix') format('embedded-opentype'),
    url('../fonts/dps-icon.ttf?10j1xy') format('truetype'),
    url('../fonts/dps-icon.woff?10j1xy') format('woff'),
    url('../fonts/dps-icon.svg?10j1xy#dps-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="d-icon-"], [class*=" d-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dps-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-icon-agent-config:before {
  content: "\e978";
}
.d-icon-command-config:before {
  content: "\e97d";
}
.d-icon-data-dictionary:before {
  content: "\e97e";
}
.d-icon-data-platform-reg:before {
  content: "\e97f";
}
.d-icon-host-configuration:before {
  content: "\e980";
}
.d-icon-host-platform-reg:before {
  content: "\e981";
}
.d-icon-operat-para-config:before {
  content: "\e982";
}
.d-icon-tool-reg:before {
  content: "\e983";
}
.sys-help-icon {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  color: rgba(113, 183, 230, 0.8);
}

.d-icon-data-assets-direct:before {
  content: "\e910";
}
.d-icon-data-resource-direct:before {
  content: "\e97c";
}
.d-icon-api:before {
  content: "\e975";
}
.d-icon-arrow-down:before {
  content: "\e900";
}
.d-icon-arrow-left:before {
  content: "\e901";
}
.d-icon-arrow-right:before {
  content: "\e902";
}
.d-icon-arrow-up:before {
  content: "\e903";
}
.d-icon-back:before {
  content: "\e904";
}
.d-icon-calendar:before {
  content: "\e905";
}
.d-icon-caret-bottom:before {
  content: "\e906";
}
.d-icon-caret-left:before {
  content: "\e907";
}
.d-icon-caret-right:before {
  content: "\e908";
}
.d-icon-caret-top:before {
  content: "\e909";
}
.d-icon-cellphone:before {
  content: "\e90a";
}
.d-icon-clear:before {
  content: "\e90b";
}
.d-icon-computer:before {
  content: "\e90c";
}
.d-icon-correct:before {
  content: "\e90d";
}
.d-icon-d-caret:before {
  content: "\e90e";
}
.d-icon-data-chart1:before {
  content: "\e90f";
}
.d-icon-data-chart3:before {
  content: "\e911";
}
.d-icon-data-chart4:before {
  content: "\e912";
}
.d-icon-database:before {
  content: "\e913";
}
.d-icon-delete:before {
  content: "\e914";
}
.d-icon-document:before {
  content: "\e915";
}
.d-icon-download:before {
  content: "\e916";
}
.d-icon-edit:before {
  content: "\e917";
}
.d-icon-email:before {
  content: "\e918";
}
.d-icon-empower:before {
  content: "\e919";
}
.d-icon-enlarge:before {
  content: "\e91a";
}
.d-icon-error:before {
  content: "\e91b";
}
.d-icon-export:before {
  content: "\e91c";
}
.d-icon-flow:before {
  content: "\e91d";
}
.d-icon-folder-open:before {
  content: "\e91e";
}
.d-icon-folder:before {
  content: "\e91f";
}
.d-icon-forbidden:before {
  content: "\e920";
}
.d-icon-group:before {
  content: "\e921";
}
.d-icon-heart-on:before {
  content: "\e922";
}
.d-icon-help:before {
  content: "\e923";
}
.d-icon-home:before {
  content: "\e924";
}
.d-icon-image:before {
  content: "\e925";
}
.d-icon-import:before {
  content: "\e926";
}
.d-icon-lock:before {
  content: "\e927";
}
.d-icon-main-unit:before {
  content: "\e928";
}
.d-icon-menu-card:before {
  content: "\e929";
}
.d-icon-menu-list:before {
  content: "\e92a";
}
.d-icon-minus:before {
  content: "\e92b";
}
.d-icon-move-to:before {
  content: "\e92c";
}
.d-icon-move:before {
  content: "\e92d";
}
.d-icon-plus:before {
  content: "\e92e";
}
.d-icon-position:before {
  content: "\e92f";
}
.d-icon-recommit:before {
  content: "\e930";
}
.d-icon-reduce:before {
  content: "\e931";
}
.d-icon-refresh:before {
  content: "\e932";
}
.d-icon-rerun:before {
  content: "\e933";
}
.d-icon-reset:before {
  content: "\e934";
}
.d-icon-restart:before {
  content: "\e935";
}
.d-icon-save:before {
  content: "\e936";
}
.d-icon-search:before {
  content: "\e937";
}
.d-icon-setting:before {
  content: "\e938";
}
.d-icon-share:before {
  content: "\e939";
}
.d-icon-shopping:before {
  content: "\e93a";
}
.d-icon-star-on:before {
  content: "\e93b";
}
.d-icon-sum:before {
  content: "\e93c";
}
.d-icon-swap-down:before {
  content: "\e93d";
}
.d-icon-swap-left:before {
  content: "\e93e";
}
.d-icon-swap-right:before {
  content: "\e946";
}
.d-icon-swap-up:before {
  content: "\e947";
}
.d-icon-table:before {
  content: "\e948";
}
.d-icon-tel:before {
  content: "\e949";
}
.d-icon-time:before {
  content: "\e94a";
}
.d-icon-unlock:before {
  content: "\e94b";
}
.d-icon-upload:before {
  content: "\e94c";
}
.d-icon-user:before {
  content: "\e94d";
}
.d-icon-view:before {
  content: "\e94e";
}
.d-icon-warning:before {
  content: "\e94f";
}
.d-icon-basic-information-registration:before {
  content: "\e940";
}
.d-icon-data-allocation:before {
  content: "\e93f";
}
.d-icon-data-approval:before {
  content: "\e942";
}
.d-icon-data-developed:before {
  content: "\e943";
}
.d-icon-data-download:before {
  content: "\e944";
}
.d-icon-data-log-query:before {
  content: "\e945";
}
.d-icon-data-monitoring:before {
  content: "\e941";
}
.d-icon-data-open-approval:before {
  content: "\e950";
}
.d-icon-data-query:before {
  content: "\e951";
}
.d-icon-data-sharing:before {
  content: "\e952";
}
.d-icon-data-upload:before {
  content: "\e953";
}
.d-icon-db2:before {
  content: "\e954";
}
.d-icon-dispatch-monitoring:before {
  content: "\e955";
}
.d-icon-dispatch:before {
  content: "\e956";
}
.d-icon-distribute:before {
  content: "\e957";
}
.d-icon-distribution-monitoring:before {
  content: "\e958";
}
.d-icon-file-upload:before {
  content: "\e959";
}
.d-icon-ftp:before {
  content: "\e95a";
}
.d-icon-gather-monitoring:before {
  content: "\e95b";
}
.d-icon-gather:before {
  content: "\e95c";
}
.d-icon-gbase:before {
  content: "\e95d";
}
.d-icon-hadoop-monitoring:before {
  content: "\e95e";
}
.d-icon-hdfs:before {
  content: "\e961";
}
.d-icon-hive-database:before {
  content: "\e962";
}
.d-icon-hive-resource:before {
  content: "\e963";
}
.d-icon-model-developed:before {
  content: "\e965";
}
.d-icon-oracle:before {
  content: "\e967";
}
.d-icon-platform-monitoring:before {
  content: "\e968";
}
.d-icon-platform-resource-allocation:before {
  content: "\e969";
}
.d-icon-Private-database-registry:before {
  content: "\e96a";
}
.d-icon-program-developed:before {
  content: "\e96b";
}
.d-icon-provisional-statistics:before {
  content: "\e96c";
}
.d-icon-quota-monitoring:before {
  content: "\e96d";
}
.d-icon-quota:before {
  content: "\e96e";
}
.d-icon-resource-allocation:before {
  content: "\e96f";
}
.d-icon-script-developed:before {
  content: "\e970";
}
.d-icon-sftp:before {
  content: "\e971";
}
.d-icon-spark:before {
  content: "\e972";
}
.d-icon-ssh:before {
  content: "\e973";
}
.d-icon-system-configuration:before {
  content: "\e974";
}
.d-icon-tenant-allocation:before {
  content: "\e977";
}
.d-icon-to-do-list:before {
  content: "\e979";
}
.d-icon-tool-allocation:before {
  content: "\e97a";
}
.d-icon-yarn:before {
  content: "\e97b";
}
.d-icon-hbase:before {
  content: "\e960";
}
.d-icon-mysql:before {
  content: "\e966";
}
.d-icon-hive:before {
  content: "\e964";
}
.d-icon-hadoop:before {
  content: "\e95f";
}

